<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The News Blog</title>
</head>
<body>
    {{log allmyUsers}}


    <header>
        <h1>Welcome to this News Blog</h1>
    </header>
    {{#each allmyUsers}}

    <li>
        {{this.name}}
    </li>

    {{/each}}



    <p>You ready to get informed?</p>
</body>
</html>